
<div class="row mt-2">
    <div class="col col-6">
        <div class="container">
            <h2>Toutes les voies</h2>
            <!--
            <mat-form-field class="select-filter">
                <mat-select>
                  <mat-option *ngFor="let filter of filters" [value]="filter.key">
                    {{filter.name}}
                  </mat-option>
                </mat-select>
            </mat-form-field>-->

            <mat-progress-bar *ngIf="!voies" mode="indeterminate" class="mt-2"></mat-progress-bar>
            <mat-list role="list" class="block-list">
                <mat-list-item role="listitem" class="block" *ngFor="let bloc of (voies)" (click)="selectBloc(bloc)" [attr.data-selected]="selectedBlock == bloc">
                    <span class="level-circle" [ngClass]="bloc?.niveau?.couleur" mat-list-icon>{{bloc?.niveau?.nom}}</span>
                    <div mat-line>{{bloc?.nom}}</div>
                    <div mat-line>{{bloc?.datev | date:'d MMMM y'}}</div>
                </mat-list-item>
                <mat-list-item role="listitem" class="center" *ngIf="voies">
                    <div mat-line>{{voies?.length}} {{voies?.length>1 ? 'voies disponibles' : 'voie disponible'}}</div>
                </mat-list-item>
            </mat-list>


        </div>
    </div>
    <div class="col col-6">
        <div class="container">
            <mat-card *ngIf="selectedBlock == null">
                <mat-card-content>
                    Veuillez sélectionner une voie dans la liste.
                </mat-card-content>
            </mat-card>
            <mat-card class="example-card" *ngIf="selectedBlock != null">
                <mat-card-header>
                    <mat-card-title>{{selectedBlock?.nom}}</mat-card-title>
                    <mat-card-subtitle>{{selectedBlock?.datev | date:'d MMMM y'}}</mat-card-subtitle>
                </mat-card-header>
                
                <mat-card-content>
                    <div class="row">
                        <div class="col col-4">
                            <mat-icon>show_chart</mat-icon>
                        </div>
                        <div class="col col-8">
                            <span class="level-circle small" [ngClass]="selectedBlock?.niveau?.couleur" mat-list-icon>{{selectedBlock?.niveau?.nom}}</span>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col col-4">
                            <mat-icon>event</mat-icon>
                        </div>
                        <div class="col col-8">
                            {{selectedBlock?.datev | date:'d/MM/y'}}
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col col-4">
                            <mat-icon>emoji_events</mat-icon>
                        </div>
                        <div class="col col-8">
                            {{selectedBlock?.niveau?.difficulte}} points
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col col-4">
                            <mat-icon>speed</mat-icon>
                        </div>
                        <div class="col col-8" *ngIf="!selectedBlockAvg">
                            Aucun temps moyen disponible.
                        </div>
                        <div class="col col-8" *ngIf="selectedBlockAvg">
                            {{selectedBlockAvg?.minutes}} min {{selectedBlockAvg?.seconds}} s
                        </div>
                    </div>

                    <p *ngIf="!selectedBlockClassement">récupération...</p>
                    <section *ngIf="selectedBlockClassement">
                        <mat-list role="list" class="classement">
                            <div mat-subheader>Meilleures ascencions</div>
                            <mat-list-item *ngFor="let rank of selectedBlockClassement; let i=index">
                                <div mat-line># {{i+1}}</div>
                                <div mat-line> {{rank.chrono}} par <b>{{rank.pseudo}}</b> </div>
                                <mat-icon mat-list-icon class="rank-validate">check_circle_outline</mat-icon>
                              </mat-list-item>
                        </mat-list>
                    </section>
                    

                </mat-card-content>
                <mat-card-actions>
                    <button mat-button><mat-icon>check_circle_outline</mat-icon> Marquer cette voie comme réussie</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>