/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background: #F5F5F5;
    overflow: overlay;
}
img { max-width: 100%; }
h1, h2, h3, h4, h5 { margin: 0; }

:root {
    --main-color: rgb(4, 30, 78);
    --second-color: rgb(67, 141, 204);

    --bloc-violet: rgb(138, 43, 226);
    --bloc-noir: rgb(0, 0, 0);
    --bloc-rouge: rgb(221, 0, 0);
    --bloc-bleu: rgb(30, 136, 229);
    --bloc-vert: rgb(0, 128, 0);
    --bloc-blanc: rgb(255, 255, 255);
}

.full-width { width: 100% ;}
.center { text-align: center;}

.mat-dialog-container{ overflow: hidden !important;}

.row {width: 100%;}
.row:after{
    display:block;
    content: '';
    clear:both
}
.col { float:left;}
.col-2 {width: calc(100% / 12 * 2);}
.col-3 {width: calc(100% / 12 * 3);}
.col-4 {width: calc(100% / 12 * 4);}
.col-6 {width: calc(100% / 12 * 6);}
.col-8 {width: calc(100% / 12 * 8);}
.col-9 {width: calc(100% / 12 * 9);}
.col-10 {width: calc(100% / 12 * 10);}
.col-12 {width: 100%;}
.container {
    padding-left: 30px;
    padding-right: 30px;
    width: calc(100% - 2 * 30px)
}
.mt-1 { margin-top: 1em !important; }
.mt-2 { margin-top: 2em !important; }
.mt-3 { margin-top: 3em !important; }
.mt-4 { margin-top: 4em !important; }
.mb-1 { margin-bottom: 1em !important; }
.mb-2 { margin-bottom: 2em !important; }

.transform-x {
    margin-left: 50%;
    transform: translateX(-50%);
}

.img-circle {
    border-radius: 50%;
    border: 4px solid blue;
}



/* ADMIN DATATABLE */
.table-admin {
    width: 100%;
    border-collapse: collapse;
    border-bottom: 2px solid var(--second-color);
}

.table-admin thead {
    font-weight: bold;
    text-align: left;
}

.table-admin thead tr {
    background: var(--second-color);
}
.table-admin thead tr td {
    padding-top: .6em;
    padding-bottom: .6em;
}
.table-admin tbody tr:nth-child(odd) {
    background: rgba(255,255,255,1);
}
.table-admin tbody tr:nth-child(2n+1) {
    background: rgb(230, 229, 229);
}

.table-admin .icon-delete { color: rgb(236, 82, 82) }
.table-admin .icon-delete:hover { color: rgb(231, 49, 49) }
.table-admin .icon-update { color: rgb(236, 180, 74)}
.table-admin .icon-update:hover { color: rgb(233, 165, 39)}
.table-admin .icon-reset { color: rgb(88, 189, 202)}
.table-admin .icon-reset:hover { color: rgb(45, 152, 167)}
.icon-add { color: rgb(106, 163, 80)}
.icon-add:hover { color:rgb(75, 168, 31)}